<br><br><br>
<div class="container">
    <div class="alert alert-warning" *ngIf="invalid">{{errorMessage}}</div>
<!--
    <div>
        User Name : <input type="text" name="userName" [(ngModel)]="username">
        Password : <input type="password" name="password" [(ngModel)]="password">
        <button (click)=login() class="btn btn-success">Login</button>
    </div>
</div> -->


<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 mx-auto">
            <h1 class="text-center login-title">Sign in to continue to COVID-19 as Admin</h1>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="">
                <form class="form-signin">
                <input type="text" name="userName"  [(ngModel)]="username" class="form-control" placeholder="username" required autofocus>
                <input type="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-success btn-block" (click)=login()>
                    Sign in</button>               
                </form>
            </div>
        </div>
    </div>
</div>