<br><br><br><br><br><br>
<div class="container mt-2">
    <div class="row">
      <div routerLink="/post" class="col-md-3 col-sm-6 item">
        <div class="card item-card card-block">
        <h4 class="card-title text-center"><a>Add News Post</a></h4>
      <img src="https://images.pexels.com/photos/6335/man-coffee-cup-pen.jpg" alt="Photo of sunset">
          <h5 class="card-title mt-3 mb-3">Add Latest News</h5>
          <p class="card-text">As a admin you can add latest news regarding the COVID19.</p> 
    </div>
      </div>
      <div routerLink="/dashboard" class="col-md-3 col-sm-6 item">
        <div class="card item-card card-block">
        <h4 class="card-title text-center"><a>DashBoard</a></h4>
      <img src="https://images.pexels.com/photos/3970327/pexels-photo-3970327.jpeg" alt="Photo of sunset">
          <h5 class="card-title  mt-3 mb-3">DashBoard For Reports</h5>
          <p class="card-text">This is a company that builds websites, web .</p> 
    </div>
      </div>
      <div routerLink="/precautions" class="col-md-3 col-sm-6 item">
        <div class="card item-card card-block">
        <h4 class="card-title text-center"><a>Precautions</a></h4>
      <img src="https://images.pexels.com/photos/3951355/pexels-photo-3951355.jpeg" alt="Photo of sunset">
          <h5 class="card-title  mt-3 mb-3">Precautions Details</h5>
          <p class="card-text">Checkout precaution that you can take to stay safe and healthy.</p> 
    </div>
      </div>
      <div routerLink="/latestNews" class="col-md-3 col-sm-6 item">
        <div class="card item-card card-block">
        <h4 class="card-title text-center"><a>Latest News</a></h4>
      <img src="https://images.pexels.com/photos/3970332/pexels-photo-3970332.jpeg" alt="Photo of sunset">
          <h5 class="card-title  mt-3 mb-3">Latest News</h5>
          <p class="card-text">All the latest news regading the COVID-19 pandemic.</p> 
    </div>
      </div>    
    </div>
    
  </div>
  